<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- link css geral -->
  <link rel="stylesheet" href="app.component.css">
  <!-- link css especifico -->
  <link rel="stylesheet" href="principal.css">
  <!-- link google icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />
</head>

<body>

  <header>
    <img src="../assets/ecoGen.png" alt="E-commerce">
    <nav class="navbar">
      <a href="" class="nav-bt">Menu</a>
      <a href="" class="nav-bt">Contato</a>
      <a href="" class="nav-bt">Avalie-nos</a>
      <a href="" class="nav-bt cart">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
      </a>
    </nav>
  </header>

  <main class="catalogo">
    <div class="produto">
      <img src="../assets/produto-1.webp" alt="">
      <h4>Caneca verde</h4>
      <h4>R$30,00</h4>
    </div>
  </main>

  <footer>
  </footer>

</body>

</html>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />