<div class="tudo">
  <!-- app.component.html -->
  <header>
    <img src="../assets/ecoGen.png" alt="E-commerce">
    <nav class="navbar">
      <a routerLink="/" class="nav-bt">Menu</a>
      <a routerLink="/contato" class="nav-bt">Contato</a>
      <a routerLink="/avaliacao" class="nav-bt">Avalie-nos</a>
      <a routerLink="/carrinho" class="nav-bt cart">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
      </a>
    </nav>
  </header>

  <!-- Espaço onde o conteúdo das rotas será carregado -->
  <router-outlet></router-outlet>

  <footer>
    <!-- Rodapé -->
    <p>&copy; 2024 Meu E-commerce. Todos os direitos reservados.</p>
  </footer>
</div>