.topo {
    text-align: center;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    height: 300px;
    width: 200px;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #444444;
    transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease;
}

.produto:hover {
    background-color: #333;
    border-radius: 15px;
    cursor: pointer;
}

.produto img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.carregando {
    text-align: center;
    background-color: rgb(138, 212, 27);
    color: #202a73;
    margin: 170px 500px;
    padding: 10px;
    border-radius: 10px;
}