<!-- menu.component.html -->
<div class="topo">
    <h1>Seja bem-vindo ao nosso e-commerce!</h1>
    <p>Escolha um de nossos produtos e coloque no carrinho, nunca iremos entregar :)</p>
</div>

<div class="catalogo" *ngIf="products$ | async as products; else loading">
    <div *ngFor="let product of products" class="produto" (click)="addToCart(product)"
        appCustomTooltip="Clique aqui para adicionar ao carrinho!" appLoadingIcon="true">
        <img [src]="product.image" alt="{{ product.title }}" />
        <h4>{{ product.title | truncate:35 }}</h4>
        <p>{{ product.price | currency:'BRL' }}</p>
    </div>
</div>

<ng-template #loading>
    <p class="carregando" appLoadingIcon="true">Carregando produtos...</p>
</ng-template>