<div class="topo">
    <h1>Carrinho</h1>
</div>

<div class="pedido" *ngIf="cartItems.length > 0; else emptyCart">
    <ul>
        <li *ngFor="let item of cartItems" class="produto">
            <img [src]="item.image" alt="{{ item.title }}" />
            <h4>{{ item.title }}</h4>
            <p>{{ item.price | currency:'BRL' }}</p>
        </li>
    </ul>
    <div class="mod-fin">
        <button (click)="clearCart()" class="finalizar">Finalizar</button>
    </div>
</div>

<ng-template #emptyCart>
    <h1 class="alerta">O carrinho está vazio!</h1>
</ng-template>