@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    height: 100px;
    margin: 0 !important;
    background-color: #f9cf01;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

header img {
    height: 90px;
}

main {
    margin: 20px 50px;
}

.navbar {
    display: flex;
    flex: 1; /* Faz a navbar ocupar o espaço restante */
    align-items: center;
    margin-left: 30px;
}

.navbar .nav-bt {
    text-decoration: none;
    width: 180px;
    height: 100px;
    line-height: 60px;
    text-align: center;
    color: #202a73;
    font-size: 22px;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-bt:hover {
    color: #fff;
    background-color: #b69b01;
}

.navbar span {
    font-size: 35px;
    line-height: 60px;
}

.cart {
    margin-left: auto; /* Empurra o carrinho para o lado direito */
    width: 120px !important;
}
